testrepository/src/main/mule/testrepository.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e9f11a6f-2246-4194-9f1b-5dfe4963dbd7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testrepositoryFlow" doc:id="9a132079-2b54-483f-802b-cbc8a6c8ace5" >
		<http:listener doc:name="Listener" doc:id="5e3d0f19-4957-4e9d-8af1-30174e8ccddf" config-ref="HTTP_Listener_config" path="/testRepository"/>
		<set-payload value="MyFirstTestRepositoryCommit" doc:name="Set Payload" doc:id="28cebd2b-ee2a-4693-832b-e26e452b7386" />
		<logger level="INFO" doc:name="Logger" doc:id="0b96779b-bac2-4a3b-a4e6-46f896f2e30e" message="#[payload]"/>
	</flow>
</mule>
